/zto-laravel/.phpunit.cache
/zto-laravel/node_modules
/zto-laravel/public/build
/zto-laravel/public/hot
/zto-laravel/public/storage
/zto-laravel/storage/*.key
/zto-laravel/storage/pail
/zto-laravel/vendor
/zto-laravel/.env
/zto-laravel/.env.backup
/zto-laravel/.env.production
/zto-laravel/.phpactor.json
/zto-laravel/.phpunit.result.cache
/zto-laravel/Homestead.json
/zto-laravel/Homestead.yaml
/zto-laravel/auth.json
/zto-laravel/npm-debug.log
/zto-laravel/yarn-error.log
/zto-laravel/.fleet
/zto-laravel/.idea
/zto-laravel/.vscode
/zto-laravel/.zed
